<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
</head>
<body>
    <main>
        <form action="/dadosform" method="post">
            <label for="nome">Nome</label>
            <input type="text" name="input-nome" id="input-nome" placeholder="Digite seu nome...">
            <button type="submit">Enviar</button>
        </form>
        <p>Digite seu nome no formulário e envie!</p>
    </main>
</body>
</html>