<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <title>Imob-Gestor</title>
</head>
<body>
    <header>
        <h1>Imob-Gestor</h1>
        <nav>
            <ul>
                <li>Properties</li>
                <li>Home</li>
                <li>Logout</li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>© 2025 Imob Gestor -- Created by <a target="_blank" href="https://github.com/KauanNaves">Kauan Naves</a></p>
    </footer>
</body>
</html>