<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imob-Gestor</title>
</head>
<body>
    <header>
        <h1>IMOB GESTOR</h1>
        <img src="#" alt="Logo ImobGestor">
    </header>
    <main>
        <h2>Sign up</h2>
        <form action="/auth/register" method="post">
            <input placeholder="Name" type="text" name="name-user" id="name-user" required><br><br>
            <input placeholder="Email" type="email" name="email-user" id="email-user" required><br><br>
            <input placeholder="Password" type="password" name="password-user" id="password-user" required><br><br>
            <input placeholder="Confirm Password" type="password" name="confirm-password" id="confirm-password" required><br><br>
            <button>Sign up</button>
        </form>
        <p>Already have an account? <a href="/auth/login">Log in</a></p>
    </main>
    <footer>
        <p>© 2025 Imob Gestor -- Created by <a href="https://github.com/KauanNaves">Kauan Naves</a></p>
    </footer>
</body>
</html>