<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kauan Naves</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/" target="_self">Home</a>
                </li>
                <li>
                    <a href="/form" target="_self">Formulário</a>
                </li>
            </ul>
        </nav>
        <h1>Arquitetura de Projetos Web</h1>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; {{ 2025 }} - Desenvolvido por <a href="https://github.com/KauanNaves" target="_blank">Kauan Augusto Naves</a></p>
    </footer>
</body>
</html>