:root {
    --color-background: #0067ac;
    --color-main-background: #0067ac65;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

main h1, h2, h3, p {
    padding: 3px;
}

main h1, h2, h3 {
    text-align: center;
}

main p {
    text-align: justify;
    text-indent: 15px;
}


header {
    background-color: var(--color-background);
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.2);
}

header h1 {
    padding: 2px;
    font-size: 2.2em;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

header ul {
    list-style-type: none;
    padding: 4px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

header ul a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.3em;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

header ul a:hover {
    text-decoration: underline;
    color: black;
    transition-duration: 0.4s;
}   

main {
    padding: 15px;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.2);
    margin: 10px;
    background-color: var(--color-main-background);
}

footer {
    background-color: var(--color-background);
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 1px -4px 6px rgba(0, 0, 0, 0.2);
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.1em;
}

footer a:hover {
    text-decoration: underline;
    color: black;
    transition-duration: 0.4s;
}   