 <!DOCTYPE html>
 <html lang="pt-br">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Jogadores</title>
 </head>
 <body>
    <header>
        <h1>Cadastro de Jogadores</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/jogadores">Jogadores</a>
            <a href="/sobre">Sobre</a>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Criado por <a href="https://github.com/KauanNabes">Kauan Naves</a></p>
    </footer>
 </body>
 </html>