@charset "UTF-8";

:root {
    --primary-color: #4CAF50;
    --secondary-color: #f4f4f4;
    --background-color: #b9b8b8d0;
    --font-color: #2b2b2b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    color: var(--font-color);
    line-height: 1.6;
}

h1, h2, h3 {
    margin-bottom: 10px;
    color: var(--primary-color);
    font-weight: bolder;
    font-size: 3em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

p {
    margin-bottom: 10px;
}

header {
    background: var(--secondary-color);
    color: var(--font-color);
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    min-width: 100%;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.377);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin-bottom: 0px;
    margin-left: 20px;
    font-size: 2.5em;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center ;
}

header nav ul li {
    margin: 0 15px;   
    margin-bottom: 5px;
}

header nav a{
    color: var(--font-color);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    background-color: var(--background-color);
    padding: 15px;
    border-radius: 10px;
}

header nav a:hover {
    background-color: var(--primary-color);
    color: #fff;
    transition: 0.3s;
}

.container {
    width: 95%;
    margin: auto;
    overflow: hidden;
    padding: 10px;
    background: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.377);
}

footer {
    background: var(--secondary-color);
    color: var(--font-color);
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 2px -4px 6px rgba(0, 0, 0, 0.377);
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

footer a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

div.button-add {
    text-align: center;
    margin: 20px 0;
}

a#link-button {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    margin: auto;
}

a#link-button button {
    padding: 10px 15px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

a#link-button button:hover {
    background-color: #45a049;
    transition: 0.3s;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.form {
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: var(--primary-color);
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

button.edit-button, button.delete-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

button.edit-button {
    background-color: #2196F3;
    color: white;
}

button.edit-button a {
    color: white;
    text-decoration: none;
}



button.delete-button {
    background-color: #f44336;
    color: white;
}

button.edit-button:hover {
    background-color: #0b7dda;
    transition: 0.3s;
}

button.delete-button:hover {
    background-color: #da190b;
    transition: 0.3s;
}

form {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.377);
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button[type="submit"] {
    display: block;
    margin: 0 auto;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

form button[type="submit"]:hover {
    background-color: #45a049;
    transition: 0.3s;
}

#title-about {
    text-align: center;
    margin-bottom: 20px;
}

.text-about {
    font-size: 1.2em;
    margin-bottom: 15px;
    line-height: 1.6;
    text-indent: 20px;
}