{% extends 'base.html' %}

{% block title %}Sobre Nós{% endblock %}

{% block content %} 
    <h2 id="title-about">About Us</h2>
    <p class="text-about">Welcome to the Notes App! This application is designed to help students keep track of their academic performance by allowing them to register their notes and calculate their averages easily.</p>
    <p class="text-about">Our mission is to provide a simple and efficient tool for students to manage their academic records. Whether you're a student looking to monitor your progress or an educator seeking to assist your students, the Notes App is here to help!</p>
    <p class="text-about">Feel free to explore the app and make the most out of its features.</p>
{% endblock %}