{% extends "base.html" %}

{% block content %}
    <h2>Edit Student</h2>
    <form action="/students/edit-student/{{ student.id }}" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ student.name }}" required><br><br>
        
        <label for="note1">Note 1:</label>
        <input type="number" id="note1" name="note1" step="0.01" value="{{ student.note1 }}" required><br><br>
        
        <label for="note2">Note 2:</label>
        <input type="number" id="note2" name="note2" step="0.01" value="{{ student.note2 }}" required><br><br>
        
        <label for="note3">Note 3:</label>
        <input type="number" id="note3" name="note3" step="0.01" value="{{ student.note3 }}" required><br><br>
        
        <button type="submit">Update Student</button>
    </form>
{% endblock %}